alembic==1.7.5
black==22.1.0
boto3==1.20.28
botocore==1.23.28
click==8.0.4
greenlet==1.1.2
importlib-metadata==4.11.2
importlib-resources==5.4.0
jmespath==0.10.0
logging-tree==1.9
Mako==1.1.6
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
psycopg2-binary==2.9.3
python-dateutil==2.8.2
python-dotenv==0.19.2
s3transfer==0.5.0
six==1.16.0
SQLAlchemy==1.4.29
tomli==2.0.1
typed-ast==1.5.2
typing_extensions==4.1.1
urllib3==1.26.7
zipp==3.7.0
