
[metadata]
name = MBTA Data Platform

[options]
packages = find:
include_package_data = true

[options.packages.find]
where = data_platform

# [tool:pytest]
# testpaths = tests

# [coverage:paths]
# source = data_platform

# [flake8]
